.datos-boton{
    margin: 5px;
    width: 180px ;
    background-color: transparent;
    border: 3px solid rgb(14, 143, 255);
    transition: 0.3s ease-in;
}
.datos-boton:hover{
    background-color: rgba(0, 0, 0, 0.712);
}
.img-datos{
    width: 50px;
    height: 50px;
}
.img-text-list{
    display:flex;
    justify-content: center;
    align-items: center;
}
.img-text{
    color:white;
}
.caja-texto{
    border-radius: 5px;
    width: 190px;
    background: rgb(0,78,255);
    background: linear-gradient(0deg, rgba(0,78,255,1) 0%, rgba(80,160,238,1) 100%, rgba(0,0,0,1) 100%);
}
.datos-texto{
    font-size:22px;
    color: white;
}